<!DOCTYPE html>
<html xmlns:th=
"http://www.thymeleaf.org">

<head>

    <title>Checkout</title>

    <link rel="stylesheet"
          th:href="@{/css/navbar.css}">

    <link rel="stylesheet"
          th:href="@{/css/checkout.css}">

</head>

<body>

<div th:replace=
"fragments/navbar :: navbar">
</div>

<div class="checkout-container">

    <div class="checkout-card">

        <h1>

            Checkout

        </h1>

        <h2>

            Total Amount :
            ₹ <span th:text="${total}">
            </span>

        </h2>

        <form action="/placeOrder"
              method="post">

            <button type="submit"
                    class="checkout-btn">

                Place Order

            </button>

        </form>

    </div>

</div>

</body>
</html>